{{#if files.length}}
{{#each files as |file|}}


    <section data-id="{{file._id}}" class="container-fluid">
      <div class="card text-center text-white bg-primary mb-1">
          <div class="card-header">
            <h2 class="topic">Name: <span>{{file.title}}</span></h2>
            <p class="card-text">Tag: <span>{{file.tag}}</span></p>
          </div>

      <div class="card-body">

      </div>

      <div><a href="{{file.url}}" target="_blank"><button class='btn btn-secondary'>DOWNLOAD</button></a></div>
      <div class="text-bottom">
        Created: {{file.createdAt}}
      </div>
      <div class="text-bottom">
        Updated: {{file.updatedAt}}
      </div>
      <div class="card-footer">
        <button type="button" class="delete btn btn-light">Delete</button>
        <button class="update btn btn-light" type="button" data-toggle="collapse" data-target="#collapse{{file._id}}" aria-expanded="false" aria-controls="collapse{{file._id}}">Update</button>
        <div class="collapse landpage col-12 flex-row-reverse" id="collapse{{file._id}}">
          <form id="{{file._id}}">
            <input type ="text" pattern="[a-zA-Z0-9-\s]+" name="upload[title]" placeholder ="update name">
            <input type ="text" pattern="[a-zA-Z0-9-\s]+" name="upload[tag]" placeholder ="update description">
            <button type="submit" class='btn btn-success'>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{{/each}}
{{else}}
<p>There are no files</p>
{{/if}}
